## Linear Classifier in TensorFlow 
Using Low Level API in Eager Execution mode

### Load tensorflow

In [1]:
import tensorflow as tf

In [2]:
tf.enable_eager_execution

In [0]:
#Enable Eager Execution if using tensflow version < 2.0
#From tensorflow v2.0 onwards, Eager Execution will be enabled by default

### Collect Data

In [3]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /gdrive

In [0]:
import pandas as pd

In [0]:
#data = pd.read_csv('/gdrive/My Drive/R6/Iris.csv')

In [0]:
data1 = pd.read_csv('/gdrive/My Drive/R6/prices.csv')

### Check all columns in the dataset

In [52]:
data1.shape

(851264, 7)

In [53]:
data1.columns

Index([u'date', u'symbol', u'open', u'close', u'low', u'high', u'volume'], dtype='object')

### Drop columns `date` and  `symbol`

In [0]:
data1.drop(columns='date', inplace=True)
data1.drop(columns='symbol', inplace=True)

In [55]:
data1.head()

         open       close         low        high   volume
0  123.430000  125.839996  122.309998  126.250000  2163600
1  125.239998  119.980003  119.940002  125.540001  2386400
2  116.379997  114.949997  114.930000  119.739998  2489500
3  115.480003  116.620003  113.500000  117.440002  2006300
4  117.010002  114.970001  114.089996  117.330002  1408600

### Consider only first 1000 rows in the dataset for building feature set and target set
Target 'Volume' has very high values. Divide 'Volume' by 1000,000

In [56]:
df=data1.iloc[:1000]
df.shape

(1000, 5)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
open      1000 non-null float64
close     1000 non-null float64
low       1000 non-null float64
high      1000 non-null float64
volume    1000 non-null int64
dtypes: float64(4), int64(1)
memory usage: 39.1 KB

In [58]:
df

           open       close         low        high    volume
0    123.430000  125.839996  122.309998  126.250000   2163600
1    125.239998  119.980003  119.940002  125.540001   2386400
2    116.379997  114.949997  114.930000  119.739998   2489500
3    115.480003  116.620003  113.500000  117.440002   2006300
4    117.010002  114.970001  114.089996  117.330002   1408600
5    115.510002  115.550003  114.500000  116.059998   1098000
6    116.459999  112.849998  112.589996  117.070000    949600
7    113.510002  114.379997  110.050003  115.029999    785300
8    113.330002  112.529999  111.919998  114.879997   1093700
9    113.660004  110.379997  109.870003  115.870003   1523500
10   109.059998  109.300003  108.320000  111.599998   1653900
11   109.730003  110.000000  108.320000  110.580002    944300
12   111.879997  111.949997  110.190002  112.949997    744900
13   111.320000  110.120003  110.000000  114.629997    703800
14   110.419998  111.000000  107.300003  111.400002    563100
15   110.769997  110.709999  109.019997  112.570000    896100
16   110.900002  112.580002  109.900002  112.970001    680400
17   113.349998  114.470001  111.669998  114.589996    749900
18   114.000000  114.500000  112.900002  114.849998    574200
19   113.250000  110.559998  109.750000  113.860001    694800
20   113.379997  114.050003  109.639999  114.639999    896300
21   114.080002  115.709999  114.080002  116.320000    956300
22   115.120003  114.019997  109.709999  116.489998    997100
23   113.300003  111.160004  110.459999  113.300003   1200500
24   111.169998  110.650002  109.639999  112.110001   1725200
25   106.730003  107.519997  106.360001  112.110001   1946000
26   105.629997  107.129997  104.110001  109.260002   1319500
27   108.559998  107.839996  107.070000  109.430000    922400
28   109.110001  110.769997  107.010002  111.300003   1185100
29   110.830002  111.239998  107.970001  112.110001    921500
..          ...         ...         ...         ...       ...
970   19.240000   18.680000   18.530001   19.430000   9097500
971   20.520000   20.290001   19.709999   20.549999   2242100
972   12.950000   13.550000   12.720000   13.600000   6205100
973   76.059998   75.440002   75.349998   76.370003    864600
974   19.620001   19.830000   19.480000   19.830000    709200
975   88.000000   87.370003   87.139999   88.239998   1129600
976   31.010000   30.959999   30.700001   31.120001   3449300
977   35.900002   35.189999   34.930000   35.910000   7517100
978   76.620003   77.650002   76.550003   77.790001   2356500
979   25.799999   26.420000   25.719999   26.610001   4839200
980   30.370001   31.059999   30.309999   31.110001   3684600
981   23.120001   22.920000   22.740000   23.129999  14428400
982   39.790001   39.610001   39.090000   39.799999   1463300
983   24.669997   25.140004   24.669997   25.160000    749600
984   11.250000   11.770000   11.200000   11.790000  13355100
985    1.630000    1.650000    1.600000    1.660000  11538300
986   17.020000   16.860001   16.790001   17.209999   9931300
987  257.840004  256.079998  253.050003  257.959995  12906000
988   48.099998   48.150002   47.700001   48.369999    369900
989   34.529999   34.430000   34.080002   34.750000   2701000
990   27.570000   27.790001   27.370000   27.919999   2627800
991   14.200000   14.420000   14.120000   14.430000   3258700
992   19.900000   19.580000   19.330000   20.059999   5206100
993   62.660000   62.299999   62.189999   62.750000   7099000
994   29.219999   28.719999   28.629999   29.309999   7795500
995   63.310001   63.590000   63.240002   63.639999   2133200
996   27.160000   26.990000   26.680000   27.299999   1982400
997   28.320000   28.770000   28.010000   28.809999  37152800
998   44.000000   44.799999   43.750000   44.810001   6568600
999   36.080002   37.139999   36.009998   37.230000   5604300

[1000 rows x 5 columns]

### Divide the data into train and test sets

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X=df[df.columns[0:4]]
Y=df["volume"]

In [0]:
train_X,test_X,train_Y,test_Y=train_test_split(X,Y,test_size=0.30,random_state=1)

#### Convert Training and Test Data to numpy float32 arrays

In [0]:
import numpy as np

In [0]:
train_X = np.array(train_X).astype('float32')
train_Y = np.array(train_Y).astype('float32')
test_Y = np.array(test_Y).astype('float32')
test_X = np.array(test_X).astype('float32')

In [64]:
df.shape

(1000, 5)

In [65]:
train_X.shape

(700, 4)

In [66]:
train_Y.shape

(700,)

In [67]:
test_X.shape

(300, 4)

### Normalize the data
You can use Normalizer from sklearn.preprocessing

In [0]:
from sklearn.preprocessing import Normalizer
transformer = Normalizer()
train_X = transformer.fit_transform(train_X)

In [0]:
test_X = transformer.transform(test_X)

## Building the Model in tensorflow

1.Define Weights and Bias, use tf.zeros to initialize weights and Bias

In [0]:
w = tf.zeros(shape=(4,1))
b = tf.zeros(shape=(1))

2.Define a function to calculate prediction

In [0]:
def prediction(X, w, b):
    
    Xw_matmul = tf.matmul(X, w)
    Y = tf.add(Xw_matmul, b)
    
    return Y

3.Loss (Cost) Function [Mean square error]

In [0]:
def loss(Y_actual, Y_predicted):
    
    diff = Y_actual - Y_predicted
    sqr = tf.square(diff)
    avg = tf.reduce_mean(sqr)
    
    return avg

4.Function to train the Model

1.   Record all the mathematical steps to calculate Loss
2.   Calculate Gradients of Loss w.r.t weights and bias
3.   Update Weights and Bias based on gradients and learning rate to minimize loss

In [0]:
def train(X, Y_actual, w, b, learning_rate=0.01):
    
    #Record mathematical operations on 'tape' to calculate loss
    with tf.GradientTape() as t:
        
        t.watch([w,b])
        
        current_prediction = prediction(X, w, b)
        current_loss = loss(Y_actual, current_prediction)
    
    #Calculate Gradients for Loss with respect to Weights and Bias
    dw, db = t.gradient(current_loss,[w, b])
    
    #Update Weights and Bias
    w = w - learning_rate*dw
    b = b - learning_rate*db
    
    return w,b

## Train the model for 100 epochs 
1. Observe the training loss at every iteration
2. Observe Train loss at every 5th iteration

In [76]:
for i in range(100):
    
    w, b = train(train_X, train_Y, w, b, learning_rate=0.01)
    print('Current Loss on iteration', i,loss(train_Y, prediction(train_X, w, b)))

('Current Loss on iteration', 0, <tf.Tensor 'Mean_1:0' shape=() dtype=float32>)
('Current Loss on iteration', 1, <tf.Tensor 'Mean_3:0' shape=() dtype=float32>)
('Current Loss on iteration', 2, <tf.Tensor 'Mean_5:0' shape=() dtype=float32>)
('Current Loss on iteration', 3, <tf.Tensor 'Mean_7:0' shape=() dtype=float32>)
('Current Loss on iteration', 4, <tf.Tensor 'Mean_9:0' shape=() dtype=float32>)
('Current Loss on iteration', 5, <tf.Tensor 'Mean_11:0' shape=() dtype=float32>)
('Current Loss on iteration', 6, <tf.Tensor 'Mean_13:0' shape=() dtype=float32>)
('Current Loss on iteration', 7, <tf.Tensor 'Mean_15:0' shape=() dtype=float32>)
('Current Loss on iteration', 8, <tf.Tensor 'Mean_17:0' shape=() dtype=float32>)
('Current Loss on iteration', 9, <tf.Tensor 'Mean_19:0' shape=() dtype=float32>)
('Current Loss on iteration', 10, <tf.Tensor 'Mean_21:0' shape=() dtype=float32>)
('Current Loss on iteration', 11, <tf.Tensor 'Mean_23:0' shape=() dtype=float32>)
('Current Loss on iteration', 12, <tf.Tensor 'Mean_25:0' shape=() dtype=float32>)
('Current Loss on iteration', 13, <tf.Tensor 'Mean_27:0' shape=() dtype=float32>)
('Current Loss on iteration', 14, <tf.Tensor 'Mean_29:0' shape=() dtype=float32>)
('Current Loss on iteration', 15, <tf.Tensor 'Mean_31:0' shape=() dtype=float32>)
('Current Loss on iteration', 16, <tf.Tensor 'Mean_33:0' shape=() dtype=float32>)
('Current Loss on iteration', 17, <tf.Tensor 'Mean_35:0' shape=() dtype=float32>)
('Current Loss on iteration', 18, <tf.Tensor 'Mean_37:0' shape=() dtype=float32>)
('Current Loss on iteration', 19, <tf.Tensor 'Mean_39:0' shape=() dtype=float32>)
('Current Loss on iteration', 20, <tf.Tensor 'Mean_41:0' shape=() dtype=float32>)
('Current Loss on iteration', 21, <tf.Tensor 'Mean_43:0' shape=() dtype=float32>)
('Current Loss on iteration', 22, <tf.Tensor 'Mean_45:0' shape=() dtype=float32>)
('Current Loss on iteration', 23, <tf.Tensor 'Mean_47:0' shape=() dtype=float32>)
('Current Loss on iteration', 24, <tf.Tensor 'Mean_49:0' shape=() dtype=float32>)
('Current Loss on iteration', 25, <tf.Tensor 'Mean_51:0' shape=() dtype=float32>)
('Current Loss on iteration', 26, <tf.Tensor 'Mean_53:0' shape=() dtype=float32>)
('Current Loss on iteration', 27, <tf.Tensor 'Mean_55:0' shape=() dtype=float32>)
('Current Loss on iteration', 28, <tf.Tensor 'Mean_57:0' shape=() dtype=float32>)
('Current Loss on iteration', 29, <tf.Tensor 'Mean_59:0' shape=() dtype=float32>)
('Current Loss on iteration', 30, <tf.Tensor 'Mean_61:0' shape=() dtype=float32>)
('Current Loss on iteration', 31, <tf.Tensor 'Mean_63:0' shape=() dtype=float32>)
('Current Loss on iteration', 32, <tf.Tensor 'Mean_65:0' shape=() dtype=float32>)
('Current Loss on iteration', 33, <tf.Tensor 'Mean_67:0' shape=() dtype=float32>)
('Current Loss on iteration', 34, <tf.Tensor 'Mean_69:0' shape=() dtype=float32>)
('Current Loss on iteration', 35, <tf.Tensor 'Mean_71:0' shape=() dtype=float32>)
('Current Loss on iteration', 36, <tf.Tensor 'Mean_73:0' shape=() dtype=float32>)
('Current Loss on iteration', 37, <tf.Tensor 'Mean_75:0' shape=() dtype=float32>)
('Current Loss on iteration', 38, <tf.Tensor 'Mean_77:0' shape=() dtype=float32>)
('Current Loss on iteration', 39, <tf.Tensor 'Mean_79:0' shape=() dtype=float32>)
('Current Loss on iteration', 40, <tf.Tensor 'Mean_81:0' shape=() dtype=float32>)
('Current Loss on iteration', 41, <tf.Tensor 'Mean_83:0' shape=() dtype=float32>)
('Current Loss on iteration', 42, <tf.Tensor 'Mean_85:0' shape=() dtype=float32>)
('Current Loss on iteration', 43, <tf.Tensor 'Mean_87:0' shape=() dtype=float32>)
('Current Loss on iteration', 44, <tf.Tensor 'Mean_89:0' shape=() dtype=float32>)
('Current Loss on iteration', 45, <tf.Tensor 'Mean_91:0' shape=() dtype=float32>)
('Current Loss on iteration', 46, <tf.Tensor 'Mean_93:0' shape=() dtype=float32>)
('Current Loss on iteration', 47, <tf.Tensor 'Mean_95:0' shape=() dtype=float32>)
('Current Loss on iteration', 48, <tf.Tensor 'Mean_97:0' shape=() dtype=float32>)
('Current Loss on iteration', 49, <tf.Tensor 'Mean_99:0' shape=() dtype=float32>)
('Current Loss on iteration', 50, <tf.Tensor 'Mean_101:0' shape=() dtype=float32>)
('Current Loss on iteration', 51, <tf.Tensor 'Mean_103:0' shape=() dtype=float32>)
('Current Loss on iteration', 52, <tf.Tensor 'Mean_105:0' shape=() dtype=float32>)
('Current Loss on iteration', 53, <tf.Tensor 'Mean_107:0' shape=() dtype=float32>)
('Current Loss on iteration', 54, <tf.Tensor 'Mean_109:0' shape=() dtype=float32>)
('Current Loss on iteration', 55, <tf.Tensor 'Mean_111:0' shape=() dtype=float32>)
('Current Loss on iteration', 56, <tf.Tensor 'Mean_113:0' shape=() dtype=float32>)
('Current Loss on iteration', 57, <tf.Tensor 'Mean_115:0' shape=() dtype=float32>)
('Current Loss on iteration', 58, <tf.Tensor 'Mean_117:0' shape=() dtype=float32>)
('Current Loss on iteration', 59, <tf.Tensor 'Mean_119:0' shape=() dtype=float32>)
('Current Loss on iteration', 60, <tf.Tensor 'Mean_121:0' shape=() dtype=float32>)
('Current Loss on iteration', 61, <tf.Tensor 'Mean_123:0' shape=() dtype=float32>)
('Current Loss on iteration', 62, <tf.Tensor 'Mean_125:0' shape=() dtype=float32>)
('Current Loss on iteration', 63, <tf.Tensor 'Mean_127:0' shape=() dtype=float32>)
('Current Loss on iteration', 64, <tf.Tensor 'Mean_129:0' shape=() dtype=float32>)
('Current Loss on iteration', 65, <tf.Tensor 'Mean_131:0' shape=() dtype=float32>)
('Current Loss on iteration', 66, <tf.Tensor 'Mean_133:0' shape=() dtype=float32>)
('Current Loss on iteration', 67, <tf.Tensor 'Mean_135:0' shape=() dtype=float32>)
('Current Loss on iteration', 68, <tf.Tensor 'Mean_137:0' shape=() dtype=float32>)
('Current Loss on iteration', 69, <tf.Tensor 'Mean_139:0' shape=() dtype=float32>)
('Current Loss on iteration', 70, <tf.Tensor 'Mean_141:0' shape=() dtype=float32>)
('Current Loss on iteration', 71, <tf.Tensor 'Mean_143:0' shape=() dtype=float32>)
('Current Loss on iteration', 72, <tf.Tensor 'Mean_145:0' shape=() dtype=float32>)
('Current Loss on iteration', 73, <tf.Tensor 'Mean_147:0' shape=() dtype=float32>)
('Current Loss on iteration', 74, <tf.Tensor 'Mean_149:0' shape=() dtype=float32>)
('Current Loss on iteration', 75, <tf.Tensor 'Mean_151:0' shape=() dtype=float32>)
('Current Loss on iteration', 76, <tf.Tensor 'Mean_153:0' shape=() dtype=float32>)
('Current Loss on iteration', 77, <tf.Tensor 'Mean_155:0' shape=() dtype=float32>)
('Current Loss on iteration', 78, <tf.Tensor 'Mean_157:0' shape=() dtype=float32>)
('Current Loss on iteration', 79, <tf.Tensor 'Mean_159:0' shape=() dtype=float32>)
('Current Loss on iteration', 80, <tf.Tensor 'Mean_161:0' shape=() dtype=float32>)
('Current Loss on iteration', 81, <tf.Tensor 'Mean_163:0' shape=() dtype=float32>)
('Current Loss on iteration', 82, <tf.Tensor 'Mean_165:0' shape=() dtype=float32>)
('Current Loss on iteration', 83, <tf.Tensor 'Mean_167:0' shape=() dtype=float32>)
('Current Loss on iteration', 84, <tf.Tensor 'Mean_169:0' shape=() dtype=float32>)
('Current Loss on iteration', 85, <tf.Tensor 'Mean_171:0' shape=() dtype=float32>)
('Current Loss on iteration', 86, <tf.Tensor 'Mean_173:0' shape=() dtype=float32>)
('Current Loss on iteration', 87, <tf.Tensor 'Mean_175:0' shape=() dtype=float32>)
('Current Loss on iteration', 88, <tf.Tensor 'Mean_177:0' shape=() dtype=float32>)
('Current Loss on iteration', 89, <tf.Tensor 'Mean_179:0' shape=() dtype=float32>)
('Current Loss on iteration', 90, <tf.Tensor 'Mean_181:0' shape=() dtype=float32>)
('Current Loss on iteration', 91, <tf.Tensor 'Mean_183:0' shape=() dtype=float32>)
('Current Loss on iteration', 92, <tf.Tensor 'Mean_185:0' shape=() dtype=float32>)
('Current Loss on iteration', 93, <tf.Tensor 'Mean_187:0' shape=() dtype=float32>)
('Current Loss on iteration', 94, <tf.Tensor 'Mean_189:0' shape=() dtype=float32>)
('Current Loss on iteration', 95, <tf.Tensor 'Mean_191:0' shape=() dtype=float32>)
('Current Loss on iteration', 96, <tf.Tensor 'Mean_193:0' shape=() dtype=float32>)
('Current Loss on iteration', 97, <tf.Tensor 'Mean_195:0' shape=() dtype=float32>)
('Current Loss on iteration', 98, <tf.Tensor 'Mean_197:0' shape=() dtype=float32>)
('Current Loss on iteration', 99, <tf.Tensor 'Mean_199:0' shape=() dtype=float32>)

### Get the shapes and values of W and b

In [77]:
w.shape

TensorShape([Dimension(4), Dimension(1)])

In [78]:
b.shape

TensorShape([Dimension(1)])

### Model Prediction on 1st Examples in Test Dataset

## Classification using tf.Keras

In this exercise, we will build a Deep Neural Network using tf.Keras. We will use Iris Dataset for this exercise.

### Load the given Iris data using pandas (Iris.csv)

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

### Splitting the data into feature set and target set

###  Building Model in tf.keras

Build a Linear Classifier model  <br>
1.  Use Dense Layer  with input shape of 4 (according to the feature set) and number of outputs set to 3<br> 
2. Apply Softmax on Dense Layer outputs <br>
3. Use SGD as Optimizer
4. Use categorical_crossentropy as loss function

### Model Training

### Model Prediction

### Save the Model

### Build and Train a Deep Neural network with 2 hidden layer  - Optional - For Practice

Does it perform better than Linear Classifier? What could be the reason for difference in performance?